.product {
  height: 100%;
  background: #5f4e33;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.productContent {
  flex: 1;
  padding: 0 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productContent h3 {
  font-size: 1.25rem;
  color: #fbd392;
  margin-bottom: 0.15rem;
}

.productPrice {
  font-size: 1rem;
  color: #d1b68b;
  margin: 0;
}

.productActions {
  text-align: right;
}

.productActions button {
  background: #f4b115;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #201e1a;
  font-size: 1rem;
  cursor: pointer;
}

.productActions button:hover {
  background: #f5b744;
}

@media (max-width: 600px) {
  .productContent h3 {
    font-size: 12px;
  }

  .productPrice {
    font-size: 12px;
  }

  .productContent p {
    font-size: 10px;
  }

  .productActions button {
    font-size: 12px;
    padding: 0.2rem 0.5rem;
  }
}