.shop {
  width: 70%;
  margin: 2rem auto;
}

.shop h2 {
  font-size: 1.5rem;
  color: #dfd1bb;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.products {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

@media (max-width: 600px) {
  .shop {
  width: 90%;
  }

  .shop h2 {
    font-size: 14px;
  }
}