@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Merriweather:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/background1.jpg);
  backdrop-filter: blur(10px);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: #f3e7d4;
  min-height: 100vh;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #edbf68;
  text-shadow: 0 0 4px rgba(35, 34, 34, 0.4);
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.homePage {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 20px;
}

#checkout {
  animation: fade-slide-in-from-right 0.3s ease-in-out;
}

#checkout label {
  display: block;
  margin-bottom: 0.5rem;
}

#checkout input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
}

@keyframes fade-slide-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 22px;
  }
}