.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 15%;
}

.mainTitle {
  display: flex;
  align-items: center;
}

.mainTitle img {
  width: 5rem;
  margin-right: 1.5rem;
}

.mainHeader button {
  background: #edbf68;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  color: #201e1a;
  font-size: 1.25rem;
  cursor: pointer;
}

.mainHeader button:hover {
  background: #f5b744;
}

.mainHeaderButtons {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}

@media (max-width: 600px) {
  .mainTitle img {
    width: 2rem;
    margin-right: 0.5rem;
  }

  .mainHeader button {
    font-size: 1rem;
    padding: 0.25rem 1rem;
  }
}